
@page
@model Dyreinternat_eksamens_projekt.Pages.CreateAnimalModel
@{
}
<body>
	<main>
		<form method="post" asp-page-handler="CreateDog">
			<p>Create Dog</p>
			<input type="text" name="Name" asp-for="Name" placeholder="Name" />
			<input type="text" name="Description" asp-for="Description" placeholder="Description" />
			<input type="text" name="Status" asp-for="Status" placeholder="Status" />
			<input type="text" name="Characteristics" asp-for="Characteristics" placeholder="Characteristics" />
			<input type="text" name="ChipID" asp-for="ChipID" placeholder="ChipID" />
			<p>Is the animal male?
			<input type="checkbox" name="Male" asp-for="Male" value="true"/></p>
			<p>Is the Animal Sterilised?
			<input type="checkbox" name="Fertile" asp-for="Fertile" value="true"/></p>
			<input type="datetime" name="Birthdate" asp-for="Birthdate" placeholder="Birthdate" />
			<input type="submit" value="Create dog" />
		</form>
			<p>Create Cat</p>
			<form method="post" asp-page-handler="CreateCat">
			<input type="text" name="Name" asp-for="Name" placeholder="Name" />
			<input type="text" name="Description" asp-for="Description" placeholder="Description" />
			<input type="text" name="Status" asp-for="Status" placeholder="Status" />
			<input type="text" name="Characteristics" asp-for="Characteristics" placeholder="Characteristics" />
			<input type="text" name="ChipID" asp-for="ChipID" placeholder="ChipID" />
			<p>Is the animal male?
			<input type="checkbox" name="Male" asp-for="Male" value="true"/></p>
			<p>Is the Animal Sterilised?
			<input type="checkbox" name="Fertile" asp-for="Fertile" value="true"/></p>
			<input type="datetime" name="Birthdate" asp-for="Birthdate" placeholder="Birthdate" />
			<input type="submit" value="Create cat" />
		</form>
		<div>
			@foreach (Lib.Model.Animal animal in Model.animals)
			{
				<h1>
					@animal.Name
				</h1>

				<p>
					@animal.Description
				</p>
				<p>
					@animal.Status
				</p>
				<p>
					@animal.Characteristics
				</p>
				<p>
					@animal.Size
				</p>
				<p>
					@animal.Birthdate
				</p>
				<p>
					@animal.ChipID
				</p>
				<p>
					@if (animal.Male == true)
					{
						<p>
							Dyret er hankøn

						</p>
					}
					else
					{
						<p>
							Dyret er hunkøn

						</p>
					}
				</p>
				<p>
					@if (animal.Fertile == true)
					{
						<p>
							Dyret er ikke steriliseret

						</p>
					}
					else
					{
						<p>
							Dyret er steriliseret

						</p>
					}
				</p>
				<p>
					@foreach(Lib.Model.Event theevent in animal.Logs)
					{
						<p>
						@theevent.ToString();		
						</p>
					}
				</p>
				<form method="post" asp-page-handler="Delete">
					<input type="hidden" name="ChipID" asp-for="ChipID" value="@animal.ChipID" />
					<input type="submit" value="Delete Animal" />
				</form>




			
			}
			</div
		</div>
	</main>
</body>
